ul.nav.nav-underline.justify-content-end.mb-2
  - @table_navs.each do |tab|
    li.nav-item
      = link_to tab[:name], tab[:action] || [@database.become, @database_schema, @database_table, tab: tab[:tab]], class: "nav-link #{'active' if tab[:tab] == @current_tab}"
