.code-block {
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.25rem;

  .copy {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .code {
    white-space: pre;
    font-family: monospace;
    overflow: auto;
  }
}
